@model FeedMe.Models.FoodSearchViewModel
@using FeedMe.Domains.Enumerations

@using (Html.BeginForm("Search", "Food", FormMethod.Get))

{
    <head>
        <link href="~/lib/Slider/nouislider.css" rel="stylesheet" />
    </head>
    <h1>Add Food to @Model.Date</h1>
    <form>
        <div class="card" style="padding:15px;">
            <h2>Food Search</h2>
            <div class="card-body">
                <div class="row" style="padding-left:20px";>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                    @Html.LabelFor(model => model.SearchName)<br />
                                @Html.TextBoxFor(model => model.SearchName)
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CalsMin)
                                <div class="customSlider Cals" id="CalSlider"></div>
                                @Html.TextBoxFor(model => model.CalsMin, new { htmlAttributes = new { id = "CalsMin" } })
                                @Html.TextBoxFor(model => model.CalsMax, new { htmlAttributes = new { id = "CalsMax" } })
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MealType)
                                <div class="row">
                                    @Html.DropDownListFor(m => m.MealType, Model.GetTypes(), null, new { htmlAttributes = new { id = "TypeDropDown" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MacCMin)
                                <div class="customSlider MacC" id="MacCSlider"></div>
                                @Html.TextBoxFor(model => model.MacCMin, new { htmlAttributes = new { id = "MacCMin" } })
                                @Html.TextBoxFor(model => model.MacCMax, new { htmlAttributes = new { id = "MacCMax" } })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MacPMin)
                                <div class="customSlider MacP" id="MacPSlider"></div>
                                @Html.TextBoxFor(model => model.MacPMin, new { htmlAttributes = new { id = "MacPMin" } })
                                @Html.TextBoxFor(model => model.MacPMax, new { htmlAttributes = new { id = "MacPMax" } })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MacFMin)
                                <div class="customSlider MacF" id="MacFSlider"></div>
                                @Html.TextBoxFor(model => model.MacFMin, new { htmlAttributes = new { id = "MacFMin" } })
                                @Html.TextBoxFor(model => model.MacFMax, new { htmlAttributes = new { id = "MacFMax" } })
                            </div>
                        </div>                       
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <button type="submit" class="button blue">Search</button>
                        &nbsp;
                        <button class="button" asp-controller="Food" asp-action="SearchClear">Clear</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <table class="table table-hover">
                    <tr>
                        <th></th>
                        <th>
                            Food Name
                        </th>
                        <th>
                            Calories
                        </th>
                        <th>
                            Carbs
                        </th>
                        <th>
                            Protein
                        <th>
                            Fat
                        </th>
                        <th>
                        </th>
                    </tr>
                    <tbody>
                        @foreach (var item in Model.Results)
                        {
                            <tr onclick="AddToMeal(@item.FoodID)">
                                <td style="width:100px;"><img style="width:75px;" src=@item.ImageURL></td>
                                <td>
                                    <a asp-controller="Food" asp-action="ViewFoodDetails" asp-route-foodID=@item.FoodID>
                                        @Html.DisplayFor(model => item.FoodName)
                                    </a>
                                </td>
                                <td>
                                    @item.Cals
                                </td>
                                <td>
                                    @item.MacC
                                </td>
                                <td>
                                    @item.MacP
                                </td>
                                <td>
                                    @item.MacF
                                </td>
                                <td>
                                    @*add button and/or click on row *@
                                    @Html.ActionLink("Add", "AddToMeal", "Food", new { foodID = item.FoodID }, null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>

    <script src="~/lib/Slider/nouislider.js"></script>
    <script src="~/lib/Slider/wNumb.js"></script>
    <script>
        //Fix for the arcane mystery of the dropdown not starting at default value. There is dark magic at work.
        $(document).ready(function () {
            $("#TypeDropDown").val(0).change();
        })

        function AddToMeal(id) {
            $.ajax({
                url: 'Food/AddToMeal',
                data: { foodID: id }
            }).done(function () {
                alert('Added');
            });
        }
        //Calorie Slider
        noUiSlider.create(CalSlider, {
            start: [document.getElementById("CalsMin").value, document.getElementById("CalsMax").value],
            connect: true,
            step: 1,
            range: {
                'min': 0,
                'max': 4000
            },
            format: wNumb({
                decimals: 0
            })
        });

        CalSlider.noUiSlider.on('update', function (values, handle) {
            var min = values[0];
            var max = values[1];
            $("#CalsMax").val(max);
            $("#CalsMin").val(min);
        });

        $("#CalsMin").on('change', function () {
            CalSlider.noUiSlider.set([$("#CalsMin").val(), null]);
        });
        $("#CalsMax").on('change', function () {
            CalSlider.noUiSlider.set([null,$("#CalsMax").val()]);
        });
        //Carbs Slider
        noUiSlider.create(MacCSlider, {
            start: [document.getElementById("MacCMin").value, document.getElementById("MacCMax").value],
            connect: true,
            step: 1,
            range: {
                'min': 0,
                'max': 300
            },
            format: wNumb({
                decimals: 0
            })
        });

        MacCSlider.noUiSlider.on('update', function (values, handle) {
            var min = values[0];
            var max = values[1];
            $("#MacCMax").val(max);
            $("#MacCMin").val(min);

        });

        $("#MacCMin").on('change', function () {
            MacCSlider.noUiSlider.set([$("#MacCMin").val(), null]);
        });
        $("#MacCMax").on('change', function () {
            MacCSlider.noUiSlider.set([null, $("#MacCMax").val()]);
        });
        //Fat Slider
        noUiSlider.create(MacFSlider, {
            start: [document.getElementById("MacFMin").value, document.getElementById("MacFMax").value],
            connect: true,
            step: 1,
            range: {
                'min': 0,
                'max': 300
            },
            format: wNumb({
                decimals: 0
            })
        });

        MacFSlider.noUiSlider.on('update', function (values, handle) {
            var min = values[0];
            var max = values[1];
            $("#MacFMax").val(max);
            $("#MacFMin").val(min);

        });

        $("#MacFMin").on('change', function () {
            MacFSlider.noUiSlider.set([$("#MacFMin").val(), null]);
        });
        $("#MacFMax").on('change', function () {
            MacFSlider.noUiSlider.set([null, $("#MacFMax").val()]);
        });
        //Protein Slider
        noUiSlider.create(MacPSlider, {
            start: [document.getElementById("MacPMin").value, document.getElementById("MacPMax").value],
            connect: true,
            step: 1,
            range: {
                'min': 0,
                'max': 300
            },
            format: wNumb({
                decimals: 0
            })
        });

        MacPSlider.noUiSlider.on('update', function (values, handle) {
            var min = values[0];
            var max = values[1];
            $("#MacPMax").val(max);
            $("#MacPMin").val(min);

        });

        $("#MacPMin").on('change', function () {
            MacPSlider.noUiSlider.set([$("#MacPMin").val(), null]);
        });
        $("#MacPMax").on('change', function () {
            MacPSlider.noUiSlider.set([null, $("#MacPMax").val()]);
        });
    </script>

}


