@model FeedMe.Models.MealDayViewModel
@using FeedMe.Domains.Enumerations
@{
<head>
    <link href="~/lib/Datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
</head>
    <style>
        .card-header {
            padding: .85rem 1.25rem;
            margin: 0;
            background-color: rgba(0,0,0,.03);
            border-bottom: 1px solid rgba(0,0,0,.125);
        }

        .card-footer:last-child {
            border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
        }

        .card-footer {
            padding: .75rem 1.25rem;
            background-color: rgba(0,0,0,.03);
            border-top: 1px solid rgba(0,0,0,.125);
        }

        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
        }

        .card {
            margin-top: 10px;
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        .food {
            padding: .6rem;
        }

        .vertical-center {
            display: flex;
            align-items: center;
            align-content:center; 
            justify-content:center;
        }

        .foodName {
            font-weight: 700;
            letter-spacing: 0.5px;
            color: #2d303c;
            display: inline;
        }
        .dateTxt {
            text-align: center;
            border: none;
        }
    </style>
    <div class="row">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 vertical-center center-block text-center">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 vertical-center">
                    <input type="button" value="Previous" onclick="location.href='@Url.Action("PreviousDay", "MealDay", Model)'">
                </div>
                <div class="h3 col-md-4 col-sm-4 col-xs-4 vertical-center">@Html.DisplayFor(model => model.Date)</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 vertical-center">
                    <input type="button" value="Next" onclick="location.href='@Url.Action("NextDay", "MealDay", Model)'" />
                </div>
            </div>
            <div class="col-lg-5"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-push-7 col-md-push-7 col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-12 text-center">
                        Current totals
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Calories</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">@Model.totalCals</div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Carbs</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">@Model.totalMacC</div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Protein</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">@Model.totalMacP</div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Fat</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">@Model.totalMacF</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                <div class="row text-center">
                    <div class="col-12 nutrition-header small_bottom_spacer pr-0">
                        Targets <a asp-action="Index" asp-controller="UserProfile">Edit</a>
                    </div>
                </div>
                <div class="targets-col col-lg-12 col-md-12 col-sm-12 col-xs-12">@Model.targetCals</div>
                <div class="targets-col col-lg-12 col-md-12 col-sm-12 col-xs-12">@Model.targetMacCTotal</div>
                <div class="targets-col col-lg-12 col-md-12 col-sm-12 col-xs-12">@Model.targetMacPTotal</div>
                <div class="targets-col col-lg-12 col-md-12 col-sm-12 col-xs-12">@Model.targetMacFTotal</div>
            </div>
        </div>
        @*<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-lg-push-0 col-md-push-0 col-sm-push-5 col-xs-push-5">*@
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-lg-pull-4 col-md-pull-4">
            <div>
                @{
                    bool mealExists = false;
                    foreach (var meal in Model.meals)
                    {
                        if (meal.Type == MealType.Breakfast)
                        {
                            <div class="row">
                                <div class="card">
                                    <h4 class="card-header"><span>Breakfast</span><span class="pull-right">@meal.Cals Calories</span><br></h4>
                                    <div class="card-body">
                                        @foreach (var food in meal.Foods)
                                        {
                                            <div class="row food">
                                                <div class="col-lg-5 foodName">@Html.DisplayFor(model => food.FoodName)</div>

                                                <div class="col-lg-5">@Html.LabelFor(model => food.Cals) @Html.DisplayFor(model => food.Cals)</div>
                                            </div>

                                        }
                                    </div>
                                    <div class="card-footer text-right">
                                        <input type="button" value="Add Food" onclick="location.href='@Url.Action("SearchFoodForMeal", "AddFood", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 1})'">
                                    </div>
                                </div>
                            </div>
                            mealExists = true;
                            break;
                        }
                    }

                    if (!mealExists)
                    {
                        <div class="row">
                            <div class="card">
                                <h4 class="card-header"><span>Breakfast</span><br></h4>
                                <div class="card-body">
                                </div>
                                <div class="card-footer text-right">
                                    <input type="button" value="Add Food" onclick="location.href='@Url.Action("SearchFoodForMeal", "AddFood", new {@Date = Model.Date, @MealType = 1})'">
                                </div>
                            </div>
                        </div>
                    }

                    mealExists = false;
                    foreach (var meal in Model.meals)
                    {
                        if (meal.Type == MealType.Lunch)
                        {
                            <div class="row">
                                <div class="card">
                                    <h4 class="card-header"><span>Lunch</span><span class="pull-right">@meal.Cals Calories</span><br></h4>
                                    <div class="card-body">
                                        @foreach (var food in meal.Foods)
                                        {
                                            <div class="row food">
                                                <div class="col-lg-5 foodName">@Html.DisplayFor(model => food.FoodName)</div>

                                                <div class="col-lg-5">@Html.LabelFor(model => food.Cals) @Html.DisplayFor(model => food.Cals)</div>
                                            </div>

                                        }
                                    </div>
                                    <div class="card-footer text-right">
                                        <input type="button" value="Add Food" onclick="location.href='@Url.Action("SearchFoodForMeal", "AddFood", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 1})'">
                                    </div>
                                </div>
                            </div>
                            mealExists = true;
                            break;
                        }

                    }
                    if (!mealExists)
                    {
                        <div class="row">
                            <div class="card">
                                <h4 class="card-header"><span>Lunch</span><br></h4>
                                <div class="card-body">
                                </div>
                                <div class="card-footer text-right">
                                    <input type="button" value="Add Food" onclick="location.href='@Url.Action("SearchFoodForMeal", "AddFood", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 1})'">
                                </div>
                            </div>
                        </div>
                    }

                    mealExists = false;
                    foreach (var meal in Model.meals)
                    {
                        if (meal.Type == MealType.Dinner)
                        {
                            <div class="row">
                                <div class="card">
                                    <h4 class="card-header"><span>Dinner</span><span class="pull-right">@meal.Cals Calories</span><br></h4>
                                    <div class="card-body">
                                        @foreach (var food in meal.Foods)
                                        {
                                            <div class="row food">
                                                <div class="col-lg-5 foodName">@Html.DisplayFor(model => food.FoodName)</div>

                                                <div class="col-lg-5">@Html.LabelFor(model => food.Cals) @Html.DisplayFor(model => food.Cals)</div>
                                            </div>

                                        }
                                    </div>
                                    <div class="card-footer text-right">
                                        <input type="button" value="Add Food" onclick="location.href='@Url.Action("SearchFoodForMeal", "AddFood", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 1})'">
                                    </div>
                                </div>
                            </div>
                            mealExists = true;
                            break;
                        }


                    }
                    if (!mealExists)
                    {
                        <div class="row">
                            <div class="card">
                                <h4 class="card-header"><span>Dinner</span><br></h4>
                                <div class="card-body">
                                </div>
                                <div class="card-footer text-right">
                                    <input type="button" value="Add Food" onclick="location.href='@Url.Action("SearchFoodForMeal", "AddFood", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 1})'">
                                </div>
                            </div>
                        </div>
                    }

                    mealExists = false;
                    foreach (var meal in Model.meals)
                    {
                        if (meal.Type == MealType.Snack)
                        {
                            <div class="row">
                                <div class="card">
                                    <h4 class="card-header"><span>Snack</span><span class="pull-right">@meal.Cals Calories</span><br></h4>
                                    <div class="card-body">
                                        @foreach (var food in meal.Foods)
                                        {
                                            <div class="row food">
                                                <div class="col-lg-5 foodName">@Html.DisplayFor(model => food.FoodName)</div>

                                                <div class="col-lg-5">@Html.LabelFor(model => food.Cals) @Html.DisplayFor(model => food.Cals)</div>
                                            </div>

                                        }
                                    </div>
                                    <div class="card-footer text-right">
                                        <input type="button" value="Add Food" onclick="location.href='@Url.Action("SearchFoodForMeal", "AddFood", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 1})'">
                                    </div>
                                </div>
                            </div>
                            mealExists = true;
                            break;
                        }
                    }
                    if (!mealExists)
                    {
                        <div class="row">
                            <div class="card">
                                <h4 class="card-header"><span>Snack</span><br></h4>
                                <div class="card-body">
                                </div>
                                <div class="card-footer text-right">
                                    <input type="button" value="Add Food" onclick="location.href='@Url.Action("SearchFoodForMeal", "AddFood", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 1})'">
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
<script>
    $('.dateTxt input').datepicker({
    });
</script>