@model FeedMe.Models.FoodSearchViewModel
@using FeedMe.Domains.Enumerations

@using (Html.BeginForm("Search", "AddFood", FormMethod.Get))
{
    <h1>Add Food to @Model.Date</h1>
    <div class="form-horizontal">
        <h2>Food Search</h2>
        <row>
            <div class="col-md-4 col-sm-4 col-xs-4">@Html.TextBoxFor(model => model.SearchName)</div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.DropDownListFor(m => m.MealType, Model.GetTypes())
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </row>
        <div class="form-group">
            <table class="table">
                @foreach (var item in Model.Results)
                {
                    <tr>
                        <td>
                            @item.FoodName
                        </td>
                        <td>
                            @item.Cals
                        </td>
                        <td>
                            @Html.ActionLink("AddFood", "AddToMeal", "AddFood", new { foodID = item.FoodID }, null)
                        </td>
                    </tr>
                }
            </table>

            @*@if (Model.Results != null)
                {
                int i = 0;
                while (i < Model.Results.Count)
                {
                    if (i % 3 == 0 || i == 0)//if a row has 3 columns or is the first row, new row
                    {
                    }
                }
                @for (int j = 0; j < i; j++)//add closing divs for rows
                {

                }
                }*@

        </div>
    </div>
}