@model FeedMe.Models.FoodSearchViewModel
@using FeedMe.Domains.Enumerations

@using (Html.BeginForm("Search", "AddFood", FormMethod.Get))
{
    <h1>Add Food to @Model.Date</h1>
    <form>
        <h2>Food Search</h2>
        <row onload="setDropdown()">
            
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SearchName)
                        @Html.TextBoxFor(model => model.SearchName)
                    </div>
                </div><div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CalsMin)
                        @Html.TextBoxFor(model => model.CalsMin)
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CalsMax)
                        @Html.TextBoxFor(model => model.CalsMax)
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.MealType, Model.GetTypes(), null, new { htmlAttributes = new { id = "TypeDropDown" } })
                    </div>
                    </div>
                
                <row>
                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2">
                        <button asp-controller="AddFood" asp-action="SearchClear">Clear</button>
                    </div>
                </row>

            <div class="form-group">
                <table class="table">
                    @foreach (var item in Model.Results)
                    {
                        <tr>
                            <td>
                                @item.FoodName
                            </td>
                            <td>
                                @item.Cals
                            </td>
                            <td>
                                @Html.ActionLink("AddFood", "AddToMeal", "AddFood", new { foodID = item.FoodID }, null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
</form>
}