@page
@model FeedMe.Models.UserProfileViewModel
@{
<div class="container well" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-2">@Html.LabelFor(model => model.Username)</div>
        <div class="col-lg-2">@Html.DisplayFor(model => model.Username)</div>
    </div>
    <div class="row">
        <div class="col-lg-2">@Html.LabelFor(model => model.FirstName)</div>
        <div class="col-lg-2">@Html.DisplayFor(model => model.FirstName)</div>
    </div>
    <div class="row">
        <div class="col-lg-2">@Html.LabelFor(model => model.LastName)</div>
        <div class="col-lg-2">@Html.DisplayFor(model => model.LastName)</div>
    </div>
    <div class="row">
        <div class="col-lg-2">@Html.LabelFor(model => model.Email)</div>
        <div class="col-lg-2">@Html.DisplayFor(model => model.Email)</div>
    </div>
</div>
        }
