@model FeedMe.Models.MealPlannerViewModel
@using FeedMe.Domains.Enumerations
@{
    <head>
        <link rel="stylesheet" href="~/css/planner.css" />
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        $(document).ready(function () {
            var username = getCookie("seenWelcome");
            if (username == "") {
                $('#welcomeModal').modal();
                document.cookie = "seenWelcome=y";
            }
        });
        $(function () {
            $('#MacroToggle').click(function () {
                $('#MacroHelp').show();
            });
        });
        var goal=0;
        var activity=0;
        function activateCalculator() {
            $('#welcomeModal').modal('hide')
            $('#calculatorModal').modal();
        }
        function GoalSelect(button) {
            $("#GoalRow .button").removeClass("green");
            $(button).addClass("green")
            goal = Number($(button).val());
        }
        function ActivitySelect(button) {
            $("#ActivityRow .button").removeClass("green");
            $(button).addClass("green")
            activity = Number($(button).val());
        }
        var Calories;
        var MacC;
        var MacF;
        var MacP;
        var MacCRatio = 40;
        var MacPRatio = 30;
        var MacFRatio = 30;
        function CalcMacros() {
            $("#Warning").hide();
            $("#CalcResults").hide()
            var age = $("#Age").val();
            var weight = $("#Weight").val();
            var feet = $("#Feet").val();
            var inches = $("#Inches").val();
            //Validate
            if (isNaN(age) || isNaN(weight) || isNaN(inches) || isNaN(feet) || age == null || weight == null || inches == null || feet == null || age == "" || weight == "" || inches == "" || feet == "") {
                $("#WarningTxt").text("Must enter numbers for all fields");
                $("#Warning").show();
            }
            else if (age > 120 || age < 18) {
                $("#WarningTxt").text("Enter an age between 18 and 120");
                $("#Warning").show();
            }
            else if (weight < 50 || weight > 500) {
                $("#WarningTxt").text("Enter a weight between 50 and 500");
                $("#Warning").show();
            }
            else if (feet < 1 || feet > 9 ||inches<0||inches>11) {
                $("#WarningTxt").text("Feet must be between 1 and 9 and inches between 0 and 11");
                $("#Warning").show();
            }
            else {

                weight = Number($("#Weight").val()) * 0.453592; //convert to metric
                var height = (Number(feet * 12) + Number(inches) * 2.54); //convert to metric
                var sex = $("input[name='sex']:checked").val();
                //calc basal metabolic rate
                if (sex == 0) {
                    Calories = 66.5 + (13.7 * weight) + (5 * height) - (6.76 * age);
                }
                else {
                    Calories = 655 + (9.56 * weight) + (1.8 * height) - (4.68 * age);
                }
                //modify for activity level
                switch (activity) {
                    case 0:
                        Calories *= 1.2;
                        break;
                    case 1:
                        Calories *= 1.35;
                        break;
                    case 2:
                        Calories *= 1.5;
                        break;
                    case 3:
                        Calories *= 1.7;
                        break;
                    default:
                        alert("Sorry, something went wrong with your activity choice!");
                }


                //modify for goals and calculate percentages
                //different goals have different macro breakdowns
                switch (goal) {
                    case 0:
                        Calories *=.9;
                        MacCRatio = 30;
                        MacPRatio = 35;
                        MacFRatio = 35;
                        break;
                    case 1:
                        break;
                    case 2:
                        Calories *=1.1;
                        MacCRatio = 50;
                        MacPRatio = 30;
                        MacFRatio = 20;
                        break;
                    default:
                        alert("Sorry, something went wrong with your goal choice!");
                }
                Calories = Math.trunc(Calories);

                //Calc macros in grams
                MacC = Math.trunc((Calories * MacCRatio * .01) / 4);
                MacP = Math.trunc((Calories * MacPRatio * .01) / 4);
                MacF = Math.trunc((Calories * MacFRatio * .01) / 9);

                $("#CalcCals").text(Calories);
                $("#CalcMacCG").text(MacC+"g");
                $("#CalcMacCP").text(MacCRatio + "%");
                $("#CalcMacPG").text(MacP + "g");
                $("#CalcMacPP").text(MacPRatio + "%");
                $("#CalcMacFG").text(MacF + "g");
                $("#CalcMacFP").text(MacFRatio + "%");

                $("#CalcResults").show();

            }
        }
            function Accept() {
                
            $.ajax({
                type: "POST",
                url: '/UserProfile/UpdateMacros',
                data: { cals: Calories, MacC: Number(MacCRatio), MacP: Number(MacPRatio), MacF: Number(MacFRatio) },
                dataType: 'json',
                failure: function (result) {
                    throw (result);
                }
            })
            $("#TargetCals").text(Calories);
            $("#TargetMacC").text(MacC + "g");
            $("#TargetMacP").text(MacP + "g");
            $("#TargetMacF").text(MacF + "g");
            $('#calculatorModal').modal('hide');
        }

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Macro', 'Percent total'],
            ['Carbs', @Model.totalMacC],
            ['Protein', @Model.totalMacP],
            ['Fat', @Model.totalMacF]
        ]);

        var options = {
            chartArea: { width: '100%', height: '100%' },
            colors: ['#FCB524', '#52C0BC', '#976fe8'],
            legend: { position: 'none' },
            pieSliceTextStyle: { fontSize: 16 },
            backgroundColor: '#f9f9f9',
            animation: {
                startup: true,
                    duration: 1000
                }
            };
            $(document).ready(function () {
                $('#body').css("opacity", 1);
            });

            var chart = new google.visualization.PieChart(document.getElementById('chartContainer'));

            chart.draw(data, options);
        }
        </script>
    </head>
    <noscript><h1>Please enable javascript to continue.</h1></noscript>

    <div id="welcomeModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 id="WelcomeTitle" class="modal-title text-center feedMePrimary">Welcome to FeedMe!</h2>
                    <h4 id="CalculatorTitle" class="modal-title" hidden> Macro Calculator</h4>
                </div>
                <div class="modal-body" style="font-size:18px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <span>
                                FeedMe is a handy meal tracker and calorie counter that can find the foods you want and make life easier!
                            </span>
                            <br /> <br />
                            <span>
                                In order to help you reach your goals, we use macronutrient tracking tailored to you.
                                Would you like to answer some questions to calculate what will work best for you?
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <a class="pull-right" id="MacroToggle" style=" color: #0000EE;">What are macros?</a>
                        </div>
                        <div class="col-lg-12">
                            <div class="alert-info" style="padding:15px;" id="MacroHelp" hidden>
                                <p>
                                    The foods we eat are made up of three “macros” (macronutrients). These macros are carbohydrates (carbs), protein, and fat. Chicken is high in the protein macro but has no carbs. Rice is high in carbs, but very little fat or protein.
                                </p>
                                <p>
                                    These 3 macronutrients (macros) are from which the human body obtains energy and raw materials for growth and repair.
                                </p>
                                <br />
                                <p>
                                    The right macros for you are based on your personal Total Daily Energy Expenditure (TDEE) and goals.
                                </p>
                                <p>
                                    Our macro calculator defaults at the best macro ratio that’s proven to work for the most number of people. You should achieve your goals using the default setting.
                                </p>



                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-6 centered">
                            <button id="yes" class="button green" onclick="activateCalculator();">Yes please!</button>
                        </div>
                        <div class="col-lg-6 centered">
                            <button id="no" class="button blue" data-dismiss="modal">No thanks</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="calculatorModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 id="CalculatorTitle" class="modal-title">Macro Calculator</h2>
                </div>
                <div class="modal-body" style="font-size:18px;">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Age:</label>
                            <input type="number" min="1" max="120" id="Age" placeholder="Years" />
                        </div>
                        <div class="col-xs-6">
                            <label>Weight:</label> <input type="number" min="50" max="500" id="Weight" placeholder="Pounds" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-1">
                            <label>Sex:</label>
                        </div>
                        <div class="col-xs-5">
                            <span for="male">Male</span>
                            <input type="radio" name="sex" value="0" checked="checked">
                            &nbsp;&nbsp;&nbsp;
                            <span for="female">Female</span>
                            <input type="radio" name="sex" value="1"><br>
                        </div>
                        <div class="col-xs-1">
                            <label>Height:</label>
                        </div>
                        <div class="col-xs-5">
                            <input type="number" id="Feet" min="1" max="9" style="width:40px"><span>ft</span>
                            &nbsp;
                            <input type="number" id="Inches" min="0" max="11" style="width:40px"><span>in</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-12">
                            <h3>Select your goal</h3>
                        </div>
                    </div>
                    <div class="row centered" id="GoalRow">
                        <div class="col-lg-4 col-xs-4">
                            <button id="Lose" class="button green calcBtn" onclick="GoalSelect(this)" value="0">
                                <i class="fas fa-carrot calculatorIcon"></i>
                                <br />
                                <span>Lose Weight</span>
                            </button>
                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <button id="Maintain" class="button calcBtn" onclick="GoalSelect(this)" value="1">
                                <i class="fas fa-balance-scale-left calculatorIcon"></i>
                                <br />
                                <span>Maintenance</span>
                            </button>
                        </div>
                        <div class="col-lg-4 col-xs-4">
                            <button id="Build" class="button calcBtn" onclick="GoalSelect(this)" value="2">
                                <i class="fas fa-dumbbell calculatorIcon"></i>
                                <br />
                                <span>Build Muscle</span>
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-12">
                            <h3>Select your activity level</h3>
                        </div>
                    </div>
                    <div class="row" id="ActivityRow">
                        <div class="col-xs-6 col-md-3">
                            <button id="Lose" class="button green calcBtn" value="0" onclick="ActivitySelect(this)">
                                <i class="fas fa-couch calculatorIcon"></i>
                                <br />
                                <span>Sedentary</span>
                                <br />
                                <span class="helpTxt">Little to no exercise</span>
                            </button>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <button id="Lose" class="button calcBtn" value="1" onclick="ActivitySelect(this)">
                                <i class="fas fa-walking calculatorIcon"></i>
                                <br />
                                <span>Lightly Active</span>
                                <br />
                                <span class="helpTxt">Exercise 1-2x per week</span>
                            </button>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <button id="Lose" class="button calcBtn" onclick="ActivitySelect(this)" value=2>
                                <i class="fas fa-running calculatorIcon"></i>
                                <br />
                                <span>Moderatly Active</span>
                                <br />
                                <span class="helpTxt">Exercise 3-5x per week</span>
                            </button>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <button id="Lose" class="button calcBtn" onclick="ActivitySelect(this)" value="3">
                                <i class="fas fa-snowboarding calculatorIcon"></i>
                                <br />
                                <span>Very Active</span>
                                <br />
                                <span class="helpTxt">Exercise 3-5x + Active Job</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 alert alert-danger centered" hidden id="Warning">
                    <p id="WarningTxt">Oops, something went wrong...</p>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="button" class="button green" onclick="CalcMacros()" style="font-size:2em; ">Calculate</button>
                    </div>
                    <div class="col-xs-12 alert alert-info" id="CalcResults" hidden style="margin-top:8px;">
                        <div class="row centered">
                            <span class="calResult bold" id="CalcCals"></span>&nbsp;&nbsp;<span class="calResult">Calories PER DAY</span>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-2 col-xs-4" style="text-align:left">
                                <span class="macroResult" style="text-align:left !important">Carbohydrates</span>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <span class="macroResult bold" id="CalcMacCG">rewr</span>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <span class="macroResult" id="CalcMacCP"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-2 col-xs-4" style="text-align:left">
                                <span class="macroResult">Protein</span>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <span class="macroResult bold" id="CalcMacPG"></span>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <span class="macroResult" id="CalcMacPP"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-2 col-xs-4" style="text-align:left">
                                <span class="macroResult" style="text-align:left !important;">Fat</span>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <span class="macroResult bold" id="CalcMacFG"></span>
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <span class="macroResult" id="CalcMacFP"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <button type="button" class="button blue" onclick="Accept()" style="font-size:1.5em; ">Accept</button>
                                &nbsp;&nbsp;
                                <button type="button" class="button" onclick="StartOver()" style="font-size:1.5em; ">Start Over</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="body" style="opacity:0;">
        <div class="row PlannerHeaderRow">
            <div class="PlannerHeader row"><span class="feedMePrimary">Meal Planner</span>&nbsp&nbsp<span>@Model.Month @Model.Year</span></div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 vertical-center center-block text-center h4">
                    <button class="button btn-date" onclick="location.href='@Url.Action("PreviousDay", "MealPlanner", Model)'">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="button btn-date btn-text" onclick="location.href='@Url.Action("Today", "MealPlanner", Model)'">
                        <i aria-hidden="true"> Jump to Today</i>
                    </button>
                    <button class="button btn-date" onclick="location.href='@Url.Action("NextDay", "MealPlanner", Model)'">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                    <button class="button btn-date" onclick="location.href='@Url.Action("NextDay", "MealPlanner", Model)'">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-push-7 col-md-push-7 col-lg-offset-1 col-md-offset-1 content" style="font-family: Avenir, Helvetica, Arial, sans-serif;">
            @{ if (Model.meals.Count != 0)
                {
                    <div class="row text-center"><h6>Macros by Percentage:</h6></div>
                }
            }

            <div class="row" style="padding-bottom:2em;">
                <div id="chartContainer"></div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="test">
                <div class="row">
                    <div class="col-12 text-center">
                        Current totals
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><b>Calories</b></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right"><b>@Model.totalCals</b></div>
                </div>
                <div class="row MacC">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 MacC"><span class="MacC">Carbs</span></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right MacC">@Model.totalMacC<span>g</span></div>
                </div>
                <div class="row MacP">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Protein</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">@Model.totalMacP<span>g</span></div>
                </div>
                <div class="row MacF">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Fat</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">@Model.totalMacF<span>g</span></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                <div class="row text-center">
                    <div class="col-12 nutrition-header small_bottom_spacer pr-0">
                        Targets <a asp-action="Index" asp-controller="UserProfile" style="font-size:10px">(Edit)</a>
                    </div>
                </div>
                <div id="TargetCals" class="targets-col col-lg-12 col-md-12 col-sm-12 col-xs-12">@Model.targetCals</div>
                <div id="TargetMacC" class="targets-col col-lg-12 col-md-12 col-sm-12 col-xs-12">@Model.targetMacCTotal<span>g</span></div>
                <div id="TargetMacP" class="targets-col col-lg-12 col-md-12 col-sm-12 col-xs-12">@Model.targetMacPTotal<span>g</span></div>
                <div id="TargetMacF" class="targets-col col-lg-12 col-md-12 col-sm-12 col-xs-12">@Model.targetMacFTotal<span>g</span></div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-lg-pull-4 col-md-pull-4 content" style="padding-left:20em;  margin-bottom:5em;">
            <div class="row" style="text-align:center">
                <div class="col-lg-1">
                    <span class="dayWord feedMePrimary">@Model.DayWord</span>
                    <br />
                    <span class="day feedMePrimary">@Model.Day</span>
                </div>
            </div>
            <div>
                @{
                    bool mealExists = false;
                    foreach (var meal in Model.meals)
                    {
                        if (meal.MealType == 1)
                        {
                            <div class="row">
                                <div class="card">
                                    <h4 class="card-header"><span>Breakfast</span></h4>
                                    <br>
                                    <span class="card-subheader">@meal.Cals Calories</span>
                                    <div class="card-body">
                                        @foreach (var food in meal.Foods)
                                        {
                                            <div class="row food">
                                                <div class="col-lg-2"><img style="width:75px;" src=@food.ImageURL></div>
                                                <div class="col-lg-3 foodName">
                                                    <div class="row">
                                                        <a asp-controller="Food" asp-action="FoodDetailsForMeal" asp-route-foodID=@food.FoodID asp-route-mealID=@meal.MealID asp-route-date=@Model.Date asp-route-APIFoodID=@food.APIFoodID>
                                                            @Html.DisplayFor(model => food.FoodName)
                                                        </a>
                                                    </div>
                                                    <div class="row foodServing">

                                                        @Html.DisplayFor(model => food.Servings)

                                                        @if (food.Servings == 1)
                                                        {
                                                            <span> serving</span>
                                                        }
                                                        else
                                                        {
                                                            <span>servings</span>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="col-lg-6 foodDetails"><b>Calories: @food.Cals</b>&nbsp;&nbsp;<span class="MacC">Carbs: @food.MacC</span>&nbsp;&nbsp;<span class="MacP">Protein: @food.MacP</span>&nbsp;&nbsp;<span class="MacF">Fat: @food.MacF</span></div>
                                                <div class="col-lg-1 foodDetails">
                                                    <a asp-controller="MealPlanner" asp-action="RemoveFoodFromMeal" asp-route-date=@Model.Date asp-route-mealID=@meal.MealID asp-route-foodID=@food.FoodID asp-route-APIFoodID=@food.APIFoodID>
                                                        <i class="fas fa-minus-circle minus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="card-footer text-right">
                                        <input type="button" value="Add Food" class="button green" onclick="location.href='@Url.Action("SearchFoodForMeal", "Food", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 1})'">
                                    </div>
                                </div>
                            </div>
                            mealExists = true;
                            break;
                        }
                    }

                    if (!mealExists)
                    {
                        <div class="row">
                            <div class="card">
                                <h4 class="card-header"><span>Breakfast</span><br></h4>
                                <div class="card-body">
                                </div>
                                <div class="card-footer text-right">

                                    <input type="button" value="Add Food" class="button green" onclick="location.href='@Url.Action("SearchFoodForMeal", "Food", new { @MealID = 0, @Date = Model.Date, @MealType = 1})'">
                                </div>
                            </div>
                        </div>
                    }

                    mealExists = false;
                    foreach (var meal in Model.meals)
                    {
                        if (meal.MealType == 2)
                        {
                            <div class="row">
                                <div class="card">
                                    <h4 class="card-header"><span>Lunch</span></h4>
                                    <br>
                                    <span class="card-subheader">@meal.Cals Calories</span>
                                    <div class="card-body">
                                        @foreach (var food in meal.Foods)
                                        {
                                            <div class="row food">
                                                <div class="col-lg-2"><img style="width:75px;" src=@food.ImageURL></div>
                                                <div class="col-lg-3 foodName">
                                                    <div class="row">
                                                        <a asp-controller="Food" asp-action="FoodDetailsForMeal" asp-route-foodID=@food.FoodID asp-route-mealID=@meal.MealID asp-route-date=@Model.Date asp-route-APIFoodID=@food.APIFoodID>
                                                            @Html.DisplayFor(model => food.FoodName)
                                                        </a>
                                                    </div>
                                                    <div class="row foodServing">

                                                        @Html.DisplayFor(model => food.Servings)

                                                        @if (food.Servings == 1)
                                                        {
                                                            <span> serving</span>
                                                        }
                                                        else
                                                        {
                                                            <span>servings</span>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="col-lg-6 foodDetails"><b>Calories: @food.Cals</b>&nbsp;&nbsp;<span class="MacC">Carbs: @food.MacC</span>&nbsp;&nbsp;<span class="MacP">Protein: @food.MacP</span>&nbsp;&nbsp;<span class="MacF">Fat: @food.MacF</span></div>
                                                <div class="col-lg-1 foodDetails">
                                                    <a asp-controller="MealPlanner" asp-action="RemoveFoodFromMeal" asp-route-date=@Model.Date asp-route-mealID=@meal.MealID asp-route-foodID=@food.FoodID asp-route-APIFoodID=@food.APIFoodID>
                                                        <i class="fas fa-minus-circle minus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="card-footer text-right">
                                        <input type="button" value="Add Food" class="button green" onclick="location.href='@Url.Action("SearchFoodForMeal", "Food", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 2})'">
                                    </div>
                                </div>
                            </div>
                            mealExists = true;
                            break;
                        }

                    }
                    if (!mealExists)
                    {
                        <div class="row">
                            <div class="card">
                                <h4 class="card-header"><span>Lunch</span><br></h4>
                                <div class="card-body">
                                </div>
                                <div class="card-footer text-right">
                                    <input type="button" value="Add Food" class="button green" onclick="location.href='@Url.Action("SearchFoodForMeal", "Food", new {@MealID = 0, @Date = Model.Date, @MealType = 2})'">
                                </div>
                            </div>
                        </div>
                    }

                    mealExists = false;
                    foreach (var meal in Model.meals)
                    {
                        if (meal.MealType == 3)
                        {
                            <div class="row">
                                <div class="card">
                                    <h4 class="card-header"><span>Dinner</span></h4>
                                    <br>
                                    <span class="card-subheader">@meal.Cals Calories</span>
                                    <div class="card-body">
                                        @foreach (var food in meal.Foods)
                                        {
                                            <div class="row food">
                                                <div class="col-lg-2"><img style="width:75px;" src=@food.ImageURL></div>
                                                <div class="col-lg-3 foodName">
                                                    <div class="row">
                                                        <a asp-controller="Food" asp-action="FoodDetailsForMeal" asp-route-foodID=@food.FoodID asp-route-mealID=@meal.MealID asp-route-date=@Model.Date asp-route-APIFoodID=@food.APIFoodID>
                                                            @Html.DisplayFor(model => food.FoodName)
                                                        </a>
                                                    </div>
                                                    <div class="row foodServing">

                                                        @Html.DisplayFor(model => food.Servings)

                                                        @if (food.Servings == 1)
                                                        {
                                                            <span>serving</span>
                                                        }
                                                        else
                                                        {
                                                            <span>servings</span>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="col-lg-6 foodDetails"><b>Calories: @food.Cals</b>&nbsp;&nbsp;<span class="MacC">Carbs: @food.MacC</span>&nbsp;&nbsp;<span class="MacP">Protein: @food.MacP</span>&nbsp;&nbsp;<span class="MacF">Fat: @food.MacF</span></div>
                                                <div class="col-lg-1 foodDetails">
                                                    <a asp-controller="MealPlanner" asp-action="RemoveFoodFromMeal" asp-route-date=@Model.Date asp-route-mealID=@meal.MealID asp-route-foodID=@food.FoodID asp-route-APIFoodID=@food.APIFoodID>
                                                        <i class="fas fa-minus-circle minus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="card-footer text-right">
                                        <input type="button" value="Add Food" class="button green" onclick="location.href='@Url.Action("SearchFoodForMeal", "Food", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 3})'">
                                    </div>
                                </div>
                            </div>
                            mealExists = true;
                            break;
                        }


                    }
                    if (!mealExists)
                    {
                        <div class="row">
                            <div class="card">
                                <h4 class="card-header"><span>Dinner</span><br></h4>
                                <div class="card-body">
                                </div>
                                <div class="card-footer text-right">
                                    <input type="button" value="Add Food" class="button green" onclick="location.href='@Url.Action("SearchFoodForMeal", "Food", new {@MealID = 0, @Date = Model.Date, @MealType = 3})'">
                                </div>
                            </div>
                        </div>
                    }

                    mealExists = false;
                    foreach (var meal in Model.meals)
                    {
                        if (meal.MealType == 4)
                        {
                            <div class="row">
                                <div class="card">
                                    <h4 class="card-header"><span>Snack</span></h4>
                                    <br>
                                    <span class="card-subheader">@meal.Cals Calories</span>
                                    <div class="card-body">

                                        @foreach (var food in meal.Foods)
                                        {
                                            <div class="row food">
                                                <div class="col-lg-2"><img style="width:75px;" src=@food.ImageURL></div>
                                                <div class="col-lg-3 foodName">
                                                    <div class="row">
                                                        <a asp-controller="Food" asp-action="FoodDetailsForMeal" asp-route-foodID=@food.FoodID asp-route-mealID=@meal.MealID asp-route-date=@Model.Date asp-route-APIFoodID=@food.APIFoodID>
                                                            @Html.DisplayFor(model => food.FoodName)
                                                        </a>
                                                    </div>
                                                    <div class="row foodServing">

                                                        @Html.DisplayFor(model => food.Servings)

                                                        @if (food.Servings == 1)
                                                        {
                                                            <span> serving</span>
                                                        }
                                                        else
                                                        {
                                                            <span>servings</span>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="col-lg-6 foodDetails"><b>Calories: @food.Cals</b>&nbsp;&nbsp;<span class="MacC">Carbs: @food.MacC</span>&nbsp;&nbsp;<span class="MacP">Protein: @food.MacP</span>&nbsp;&nbsp;<span class="MacF">Fat: @food.MacF</span></div>
                                                <div class="col-lg-1 foodDetails">
                                                    <a asp-controller="MealPlanner" asp-action="RemoveFoodFromMeal" asp-route-date=@Model.Date asp-route-mealID=@meal.MealID asp-route-foodID=@food.FoodID asp-route-APIFoodID=@food.APIFoodID>
                                                        <i class="fas fa-minus-circle minus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="card-footer text-right">
                                        <input type="button" value="Add Food" class="button green" onclick="location.href='@Url.Action("SearchFoodForMeal", "Food", new { @MealID = meal.MealID, @Date = Model.Date, @MealType = 4})'">
                                    </div>
                                </div>
                            </div>
                            mealExists = true;
                            break;
                        }
                    }
                    if (!mealExists)
                    {
                        <div class="row">
                            <div class="card">
                                <h4 class="card-header"><span>Snack</span><br></h4>
                                <div class="card-body">
                                </div>
                                <div class="card-footer text-right">
                                    <input type="button" value="Add Food" class="button green" onclick="location.href='@Url.Action("SearchFoodForMeal", "Food", new {@MealID = 0, @Date = Model.Date, @MealType = 4})'">
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <input type="hidden" id="firstTime" value="@Model.FirstTime" />

}
